/* hacks.scss */

fieldset { 
  border: none;
}

label {
  margin-top: .5em;
}

.error {
  background-color: #fbe3e4;
}

.user {
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: .1em;

  .form-control {
    width: auto;
  }
}

.user h3 {
  margin: 1em 0 0.5em;
  padding-left: .25em;

}

.request--available_items {
  a {
    padding: .5em;
  }
}

.availability--label {
  text-transform: uppercase;
}

.user-pul {
  div {
    padding: .5em;
    margin-bottom: 1em;
  }

  a {
    padding: .5em;
  }
}

.close {
  display: none;
}